<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="accountMapper" >
  <resultMap id="BaseResultMap" type="com.sise.pojo.Account" >
    <id column="accountId" property="accountid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    accountId, name, balance, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bas_account
    where accountId = #{accountid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bas_account
    where accountId = #{accountid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sise.pojo.Account" >
    insert into bas_account (accountId, name, balance, 
      remark)
    values (#{accountid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sise.pojo.Account" >
    insert into bas_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountid != null" >
        accountId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountid != null" >
        #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sise.pojo.Account" >
    update bas_account
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where accountId = #{accountid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sise.pojo.Account" >
    update bas_account
    set name = #{name,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR}
    where accountId = #{accountid,jdbcType=VARCHAR}
  </update>
  
  <select id="getList" resultType="com.sise.pojo.Account">
  	select * from bas_account;
  </select>
</mapper>