<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="brand" >
  <resultMap id="BaseResultMap" type="com.sise.pojo.Brand" >
    <id column="brand" property="brand" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="Map" >
    delete from bas_brand
    where brand = #{brand}
  </delete>
  <insert id="insert" parameterType="com.sise.pojo.Brand" >
    insert into bas_brand (brand)
    values (#{brand,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sise.pojo.Brand" >
    insert into bas_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brand != null" >
        brand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="findBrandByPrimaryKey" parameterType="Map" resultType="com.sise.pojo.Brand">
  	select * from bas_brand where brand=#{brand}
  </select>
  <select id="queryList" resultType="com.sise.pojo.Brand">
  	select * from bas_brand;
  </select>
</mapper>