<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="custMobsalesnMapper" >
  <resultMap id="BaseResultMap" type="com.sise.pojo.CustMobsalesn" >
    <id column="sn1" property="sn1" jdbcType="VARCHAR" />
    <result column="sn2" property="sn2" jdbcType="VARCHAR" />
    <result column="invoiceId" property="invoiceid" jdbcType="CHAR" />
    <result column="mobTypeId" property="mobtypeid" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="config" property="config" jdbcType="VARCHAR" />
    <result column="fristSupplierId" property="fristsupplierid" jdbcType="VARCHAR" />
    <result column="firstInTime" property="firstintime"  />
    <result column="lastSupplierId" property="lastsupplierid" jdbcType="CHAR" />
    <result column="lastInTime" property="lastintime"  />
    <result column="buyPrice" property="buyprice" jdbcType="DECIMAL" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="lossAmount" property="lossamount" jdbcType="DECIMAL" />
    <result column="orgId" property="orgid" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    sn1, sn2, invoiceId, mobTypeId, color, config, fristSupplierId, firstInTime, lastSupplierId, 
    lastInTime, buyPrice, cost, lossAmount, orgId, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cust_mobsalesn
    where sn1 = #{sn1,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cust_mobsalesn
    where sn1 = #{sn1,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sise.pojo.CustMobsalesn" >
    insert into cust_mobsalesn (sn1, sn2, invoiceId, 
      mobTypeId, color, config, 
      fristSupplierId, firstInTime, lastSupplierId, 
      lastInTime, buyPrice, cost, 
      lossAmount, orgId, status
      )
    values (#{sn1,jdbcType=VARCHAR}, #{sn2,jdbcType=VARCHAR}, #{invoiceid,jdbcType=CHAR}, 
      #{mobtypeid,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{config,jdbcType=VARCHAR}, 
      #{fristsupplierid,jdbcType=VARCHAR}, #{firstintime,jdbcType=TIMESTAMP}, #{lastsupplierid,jdbcType=CHAR}, 
      #{lastintime,jdbcType=TIMESTAMP}, #{buyprice,jdbcType=DECIMAL}, #{cost,jdbcType=DECIMAL}, 
      #{lossamount,jdbcType=DECIMAL}, #{orgid,jdbcType=CHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sise.pojo.CustMobsalesn" >
    insert into cust_mobsalesn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sn1 != null" >
        sn1,
      </if>
      <if test="sn2 != null" >
        sn2,
      </if>
      <if test="invoiceid != null" >
        invoiceId,
      </if>
      <if test="mobtypeid != null" >
        mobTypeId,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="config != null" >
        config,
      </if>
      <if test="fristsupplierid != null" >
        fristSupplierId,
      </if>
      <if test="firstintime != null" >
        firstInTime,
      </if>
      <if test="lastsupplierid != null" >
        lastSupplierId,
      </if>
      <if test="lastintime != null" >
        lastInTime,
      </if>
      <if test="buyprice != null" >
        buyPrice,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="lossamount != null" >
        lossAmount,
      </if>
      <if test="orgid != null" >
        orgId,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sn1 != null" >
        #{sn1,jdbcType=VARCHAR},
      </if>
      <if test="sn2 != null" >
        #{sn2,jdbcType=VARCHAR},
      </if>
      <if test="invoiceid != null" >
        #{invoiceid,jdbcType=CHAR},
      </if>
      <if test="mobtypeid != null" >
        #{mobtypeid,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="config != null" >
        #{config,jdbcType=VARCHAR},
      </if>
      <if test="fristsupplierid != null" >
        #{fristsupplierid,jdbcType=VARCHAR},
      </if>
      <if test="firstintime != null" >
        #{firstintime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastsupplierid != null" >
        #{lastsupplierid,jdbcType=CHAR},
      </if>
      <if test="lastintime != null" >
        #{lastintime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyprice != null" >
        #{buyprice,jdbcType=DECIMAL},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="lossamount != null" >
        #{lossamount,jdbcType=DECIMAL},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sise.pojo.CustMobsalesn" >
    update cust_mobsalesn
    <set >
      <if test="sn2 != null" >
        sn2 = #{sn2,jdbcType=VARCHAR},
      </if>
      <if test="invoiceid != null" >
        invoiceId = #{invoiceid,jdbcType=CHAR},
      </if>
      <if test="mobtypeid != null" >
        mobTypeId = #{mobtypeid,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="config != null" >
        config = #{config,jdbcType=VARCHAR},
      </if>
      <if test="fristsupplierid != null" >
        fristSupplierId = #{fristsupplierid,jdbcType=VARCHAR},
      </if>
      <if test="firstintime != null" >
        firstInTime = #{firstintime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastsupplierid != null" >
        lastSupplierId = #{lastsupplierid,jdbcType=CHAR},
      </if>
      <if test="lastintime != null" >
        lastInTime = #{lastintime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyprice != null" >
        buyPrice = #{buyprice,jdbcType=DECIMAL},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="lossamount != null" >
        lossAmount = #{lossamount,jdbcType=DECIMAL},
      </if>
      <if test="orgid != null" >
        orgId = #{orgid,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where sn1 = #{sn1,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sise.pojo.CustMobsalesn" >
    update cust_mobsalesn
    set sn2 = #{sn2,jdbcType=VARCHAR},
      invoiceId = #{invoiceid,jdbcType=CHAR},
      mobTypeId = #{mobtypeid,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      config = #{config,jdbcType=VARCHAR},
      fristSupplierId = #{fristsupplierid,jdbcType=VARCHAR},
      firstInTime = #{firstintime,jdbcType=TIMESTAMP},
      lastSupplierId = #{lastsupplierid,jdbcType=CHAR},
      lastInTime = #{lastintime,jdbcType=TIMESTAMP},
      buyPrice = #{buyprice,jdbcType=DECIMAL},
      cost = #{cost,jdbcType=DECIMAL},
      lossAmount = #{lossamount,jdbcType=DECIMAL},
      orgId = #{orgid,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER}
    where sn1 = #{sn1,jdbcType=VARCHAR}
  </update>
  
   <select id="getSnByInvoiceid" parameterType="java.lang.String" resultType="com.sise.pojo.CustMobsalesn">
  select * from cust_mobsalesn where invoiceId = #{invoiceid,jdbcType=CHAR};
  </select>
</mapper>